/* Bootstrap */
@import "bootstrap.min.css";

/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

/* Etc */
#content {
  height: 100%;
}

.mui-app-canvas {
  height: 100%;
}

.container-fluid {
  min-height: 100%;
  padding-bottom: 32px;
  background-color: #eee;
}

.offset {
  padding-top: 70px;
}

.white {
  background-color: white;
}

.white > div {
  padding: 16px 32px;
}
